*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    // color: $WhitePrimary;
    background: var(--MainBackground);
    font-family: 'Spartan', sans-serif;
    @include custum-size(100vh);
}
.ToggleBackground{
    background: var(--ToggleBackground);
}
.theme-2{
    // ### Theme 2

    // #### Backgrounds

    --MainBackground: hsl(0, 0%, 90%);
    --ToggleBackground :hsl(0, 5%, 81%);
    --ScreenBackground:hsl(0, 0%, 93%);

    // #### Keys

    --KeyBackground-1: hsl(185, 42%, 37%);
    --KeyShadow-1: hsl(185, 58%, 25%);

    --KeyBackground-2: hsl(25, 98%, 40%);
    --KeyShadow-2: hsl(25, 99%, 27%);

    --KeyBackground-3: hsl(45, 7%, 89%);
    --KeyShadow-3: hsl(35, 11%, 61%);

    // ### Text
    --ColorText-1: rgb(255, 255, 255);
    --ColorText-2: hsl(60, 10%, 19%);
    // --ColorText-3: rgb(255, 255, 255);
}
.theme-3{
    // ### Theme 3

    // #### Backgrounds

    --MainBackground: hsl(268, 75%, 9%);
    --ToggleBackground :hsl(268, 71%, 12%);
    --ScreenBackground:hsl(268, 71%, 12%);

    // #### Keys

    --KeyBackground-1: hsl(281, 89%, 26%);
    --KeyShadow-1: hsl(285, 91%, 52%);

    --KeyBackground-2: hsl(176, 100%, 44%);
    --KeyShadow-2: hsl(177, 92%, 70%);

    --KeyBackground-3: hsl(268, 47%, 21%);
    --KeyShadow-3: hsl(290, 70%, 36%);

    // ### Text
    // --ColorText-1: hsl(52, 100%, 62%);
    --ColorText-2: hsl(52, 100%, 62%);
    --ColorText-3:  hsl(198, 20%, 13%);

}
.container{
    @include container();
}
.container-responsive{
    @include container(100%,100%,true);
}
.center{
    @include center();
}
.f{
    display: flex;
}
.f-between{
    justify-content: space-between;
}
.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: .5rem;
}
.f-end{
    justify-content: flex-end;
}
.f-column{
    flex-direction: column;
}
h1,span{
    color: var(--ColorText-2);
}
.grid
{
    @include custum-size();
    display: grid;
    grid-gap: .6rem;
    padding: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,auto);

    button{
        // @include custum-size();
        
        @include key-3();
        
        
    }
    .btn-large{
        grid-column: 1/3;
    }
    .btn-large-2{
        grid-column: 3/5;
    }

    // .bg-1{}
    .bg-2{
        @include key-1();
        
    }
    .bg-3{
        
        @include key-2();

    }
}
.section-application{
    @include container(90%,$Mobile,true);
}

.header-calc{
    @include custum-size(5rem);
}
.theme-text{
    margin-top: 1.6rem;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 2px;
}
.title{
    margin-top: .6rem;
    font-size: 34px;
    letter-spacing: 1px;

}
.pointer{
    cursor: pointer;
}
.numbers{
    // padding: 2px 6px;
    @include custum-size(30%); 
    span{
        // padding: 4px;
        font-size: 10px;
        @include custum-size(100%,.8rem);
        // text-align: center;
        @include center();
    }
    .btn-t{
        @include custum-size(80%,1.4rem);

    }
}
.buttons{
    border-radius: var(--BorderRadius);
    @include custum-size(30%);
    .circle{
        @include custum-size(80%,.8rem);
        background: var(--KeyBackground-2);
        border-radius: 100%;
        &:active{
            transform: scale(.9)
        }
    }
    span{
        cursor: pointer;
        font-size: 10px;
        // @include custum-size(80%);
    }
    .btn-t{
        @include custum-size(80%,100%);

    }
}
.display-results-calc{
    @include custum-size(5rem);
    background: var(--ScreenBackground);
    span{
        font-size: 36px;
    }
}
.keyboard-calc{
    @include custum-size(100%);
     
}

