// 
// RESPONSE MOBILE
// 
@mixin mobile {
    @media only screen and (max-width: $Mobile) {
      @content;
    }
  }
// 
// RESPONSE DESKTOP
// 
@mixin desktop {
    @media only screen and (min-width: $Desktop) {
        @content;
    }
}
@mixin key{
    border:none;
    border-radius: .4rem;
    cursor: pointer;
    &:active{
        transform: scale(.9)
    }
    
}
@mixin key-3 {
    @include key();
    font-size: 32px;
    font-weight: 800;
    background: var(--KeyBackground-3);
    border-bottom: 3px solid var(--KeyShadow-3);
    color: var(--ColorText-1);
}
@mixin key-2 {
    @include key();
    background: var(--KeyBackground-2);
    border-bottom: 3px solid var(--KeyShadow-2);
    color: var(--ColorText-3);
    font-size: 24px;
    font-weight: 600;
}
@mixin key-1 {
    @include key();
    font-size: 24px;
    font-weight: 600;
    background: var(--KeyBackground-1);
    border-bottom: 3px solid var(--KeyShadow-1);
    color: var(--ColorText-1);
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin custum-size($height: 100%,$width:100%) {
    height: $height;
    width: $width;
}
@mixin container($height: 100%,$width:100%,$responsive:false) {
    // display: block;
    @if $responsive {
        @include desktop {
            @include custum-size($height,$width);
        }
        @include mobile{
            @include custum-size($height,86%);
        }
    }
    @else {
        @include custum-size($height,$width);
    }
}
