:root{
    --BorderRadius : 12px;

    // ### Theme 1

    // #### Backgrounds

    --MainBackground: hsl(222, 26%, 31%);
    --ToggleBackground :hsl(223, 31%, 20%);
    --ScreenBackground:hsl(224, 36%, 15%);

    // #### Keys

    --KeyBackground-1: hsl(225, 21%, 49%);
    --KeyShadow-1: hsl(224, 28%, 35%);

    --KeyBackground-2: hsl(6, 63%, 50%);
    --KeyShadow-2: hsl(6, 70%, 34%);

    --KeyBackground-3: hsl(30, 25%, 89%);
    --KeyShadow-3: hsl(28, 16%, 65%);

    // ### Text
    --ColorText-1: hsl(60, 10%, 19%);
    --ColorText-2: rgb(255, 255, 255);
    --ColorText-3:  rgb(255, 255, 255);
    --Color-Text-Key-1:rgb(255, 255, 255);
}

$Mobile: 375px;
$Desktop: 375px;